<!DOCTYPE html>
<html>
<head>
    <title>file list</title>
</head>
<body>
<h1>please choose the file:</h1>
<% if(files.length>0) {%>
<ul>
    <% files.forEach(function(file){ %>
    <li>
        <a href="/hotupdate/assetsupdate/<%- file %>" target="_blank"><%- file %></a>
    </li>
    <%})%>
</ul>
<%} else {%>
<p>nothing…</p>
<%}%>
</body>
</html>